<apex:page standardController="artApp__Artwork__c">
    <apex:sectionHeader title="Add New Images to Documents and" subtitle="{!artApp__Artwork__c.Name}"/>
    <c:AddImagesFromDesktop createDoc="true" />
</apex:page>