<apex:page standardController="artApp__Artwork__c" recordSetVar="artworkVar" tabStyle="artApp__Artwork__c" renderAs="" extensions="artApp.ArtworkLabelConExt" showHeader="false" standardStylesheets="false">
   <!--<c:QRCodeLabel selected="{!selected}"/>-->
   <apex:stylesheet value="{!URLFOR($Resource.artApp__LibraryTM, '/css/qrCodeLabel.css')}"/>
    <apex:repeat value="{!selected}" var="aw" id="theRepeater">
        <div class="table" layout="block" style="border: 1pt solid black; width: 660px; padding: 5px;">
            <table width="650px" border="0" cellspacing="0" cellpadding="0" >
              <tr>
                <apex:repeat value="{!$ObjectType.artApp__Artwork__c.FieldSets.artApp__QR_Code}" var="q">
                    <td valign="middle" align="center" width="35%">
                         <apex:image url="http://chart.apis.google.com/chart?cht=qr&chs=200x200&chl={!aw[q]}" 
                                     title="Scan for more information @ {!aw[q]}" 
                                     height="200"
                                     rendered="{!Len(aw[q])>0}"
                                     />               
                    </td>
                </apex:repeat>
                
                <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="5">
                  <apex:repeat value="{!$ObjectType.artApp__Artwork__c.FieldSets.artApp__Artwork_Label_Fields}" var="f">
                      <apex:outputPanel rendered="{!IF(ISNull(aw[f]), false, true)}">
                          <tr>
                            <td valign="top" align="right" ><apex:outputLabel value="{!f.Label}:" styleClass="qrLabel" /></td>
                            <td valign="top">
                                <span class="qrDetail">
                                    <apex:outputField value="{!aw[f]}"/>
                                </span>
                            </td>
                          </tr>
                      </apex:outputPanel>
                  </apex:repeat>
                  <tr>
                    <td valign="top" align="right"><apex:outputLabel value="{!IF(Len(aw.artApp__Edition__c)>0,$Label.artapp__VF_Label_ArtworkLabel_Edition, '')}" styleClass="cardDetail"  /></td>
                    <td valign="top"><apex:outputText value="#" rendered="{!Len(aw.artApp__Edition__c)>0}" styleClass="qrDetail"/>
                        <apex:outputField value="{!aw.artApp__Edition_Number__c}" rendered="{!Len(aw.artApp__Edition__c)>0}" styleClass="qrDetail"/>
                        <apex:outputText value="-" rendered="{!Len(aw.artApp__Edition__c)>0}" styleClass="qrDetail"/>
                        <apex:outputField value="{!aw.artApp__Edition_Size__c}" rendered="{!Len(aw.artApp__Edition__c)>0}" styleClass="qrDetail"/>
                    </td>
                </tr>
                
                </table></td>
                <apex:repeat value="{!$ObjectType.artApp__Artwork__c.FieldSets.artApp__Artwork_Label_Primary_Image}" var="s">
                    <td valign="middle" align="center" >
                         <apex:image id="theImage"  
                                     value="/servlet/servlet.FileDownload?file={!aw[s]}" 
                                     width="150px" 
                                     rendered="{!Len(aw[s])>0}"/>   
                    </td>
                </apex:repeat>
              </tr>
            </table>
        </div>
        <br/><br/><br/><br/><br/>
    </apex:repeat>

    <apex:outputPanel layout="block" style="border: 1pt solid black; width: 660px; padding: 5px;">
        <apex:outputLink value="{!$CurrentPage.parameters.retURL}" target="_blank" id="theLink">{!$Label.artapp__VF_Label_Link_Return}</apex:outputLink>
        <br/><br/>
        <apex:outputText value="{!$Label.artapp__VF_Label_ArtworkLabel_Instructions}  {!$Label.artapp__VF_Label_ArtworkLabel_Instructions_QrCode}"/>
    </apex:outputPanel>
</apex:page>