<apex:page doctype="html-5.0" standardController="artApp__Exhibition__c" extensions="artApp.SlideshowExhibitionCon" showHeader="false" sidebar="false" standardStylesheets="false" >
    <c:Slideshow />
</apex:page>