<apex:page standardController="Fatura__c" >
    
    <apex:pageBlock title="Fatura Numero: {!Fatura__c.Name}">
        You are displaying contacts from the {!Fatura__c.name} account.
		Click a contact's name to view his or her details.
    </apex:pageBlock>
    <apex:pageBlock title="Produtos">
        <apex:form >
        	<apex:dataTable value="{!Fatura__c}" var="prod" cellpadding="4" border="1">
                <apex:column >
                    <apex:commandLink reRender="detail">
                    	{!prod.Produto__r.Name}
                        <apex:param name="cid" value="{!prod.Produto__r.id}" />
                    </apex:commandLink>
                </apex:column>
                <apex:column >
                	<apex:actionSupport event="onmouseover" reRender="detail">
                    	<apex:param name="cid" value="{!prod.Produto__r.id}"/>
                    </apex:actionSupport>
                    {!prod.Produto__r.Marca__c}
                </apex:column>
            </apex:dataTable>
        </apex:form>
    </apex:pageBlock>
    <apex:outputPanel id="detail">
    	<apex:detail subject="{!$CurrentPage.parameters.cid}" relatedList="false" title="false" />
    </apex:outputPanel>
  
</apex:page>