<apex:page standardController="Produto__c" recordSetVar="records" id="thePage">
    <apex:form id="theForm">
        <apex:pageBlock id="thePageBlock" >
            <apex:pageBlockSection columns="1">
                <apex:pageBlockTable value="{!records}" var="record" id="thePageBlockTable" >
                    
                    <apex:column headerValue="ID" id="Produto__cIDDOM">
                    	<apex:inputField value="{!record.ID}" />
                    </apex:column>
                    
                    <apex:column headerValue="Nome" id="Produto__cNameDOM">
                    	<apex:outputField value="{!record.Name}" />
                    </apex:column> 
                    
                    <apex:column headerValue="Marca" id="Produto__cMarcaDOM">
                    	<apex:outputField value="{!record.Marca__c}" />
                    </apex:column>
                    
                    <apex:column headerValue="Preco" id="Produto__cPrecoDOM">
                        <apex:outputField value="{!record.Pre_o__c}" />
                    </apex:column>
                    
                    <apex:column headerValue="Quantidade Em Estoque" id="Produto__cQtdDOM">
                   		<apex:outputField value="{!record.Quantidade_em_Estoque__c}" />
                    </apex:column>
                    
                    <apex:column headerValue="Fornecedor" id="Produto__cFornecedorDOM">
                  		<apex:outputField value="{!record.Fornecedor__r.Name}"/>
                    </apex:column>
               
                </apex:pageBlockTable>
            
                <apex:inlineEditSupport event="ondblClick" />
                
            </apex:pageBlockSection>  
              
              <apex:pageBlockButtons >
                  <apex:commandButton value="Save"  action="{!save}" id="saveButton" />
                    <apex:commandButton value="Edit" action="{!save}"  id="editButton" />
                    <apex:commandButton value="Cancel" action="{!cancel}" id="cancelButton"  />
              
              </apex:pageBlockButtons>
           
       </apex:pageBlock>
    </apex:form>
</apex:page>