<apex:page showHeader="false" standardStylesheets="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0">
    
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
        <head>
            <meta charset="utf-8" />
            <title>Salesforce Lightning Design System Trailhead Module</title>
            <meta http-equiv="x-ua-compatible" content="ie=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <apex:stylesheet value="{!URLFOR($Resource.SLDS202, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" />
        </head>
        <body>
            
            <!-- REQUIRED SLDS WRAPPER -->
            <div class="Accenture">
                
                <!-- MASTHEAD -->
                <p class="slds-text-heading--label slds-m-bottom--small">
                    Salesforce Lightning Design System Trailhead Module
                </p>
                <!-- / MASTHEAD -->
                
                <!-- PRIMARY CONTENT WRAPPER -->
                <div class="myapp">
                    
                    <!-- SECTION - BADGE COMPONENTS -->
                    <section aria-labelledby="badges">
                        <h2 id="badges" class="slds-text-heading--large slds-m-vertical--large">Badges</h2>
                        <div>
                            <span class="slds-badge">Badge</span>
                            <span class="slds-badge slds-theme--inverse">Badge</span>
                        </div>
                    </section>
                    <!-- / SECTION - BADGE COMPONENTS -->
                    
                </div>
                <!-- / PRIMARY CONTENT WRAPPER -->
                <br /><br /><br /><br />
                <!-- BASIC GRID EXAMPLE -->
                <div class="slds-grid">
                    <div class="slds-col slds-size--4-of-6">Column 1</div>
                    <div class="slds-col slds-size--1-of-6">Column 2</div>
                    <div class="slds-col slds-size--1-of-6">Column 3</div>
                </div>
                
                <!-- RESPONSIVE GRID EXAMPLE -->
                <div class="slds-grid slds-wrap">
                    <div class="slds-col slds-size--1-of-1 slds-small-size--1-of-2 slds-medium-size--3-of-4">A</div>
                    <div class="slds-col slds-size--1-of-1 slds-small-size--1-of-2 slds-medium-size--1-of-4">B</div>
                </div>
                
            </div>
            <!-- / REQUIRED SLDS WRAPPER -->
            
            
        </body>
    </html>
</apex:page>